<div class="header">
    <div class="container">
        <div class="start-section">
            <div class="menu"><mat-icon>menu</mat-icon></div>
            <div class="logo"><img src="../../../assets/images/logo.png"></div>
        </div>
        <div class="divider"></div>  
        <div class="middle-section">
            <div class="header-title">Correspondences</div>
            <div class="header-input"><input type="text" placeholder="Search ..."></div>
        </div>
        <div class="end-section">
            <div class="notification"><mat-icon>notifications_none</mat-icon></div>
            <div class="avatar"><img src="../../../assets/images/user.png"></div>
        </div>
    </div>
</div>
