
<div class="list-correspondence">
    <div class="list-data">
        <div class="first-section">
            <div class="date">4/5/2022 - 9:37 am</div>
            <div class="actions">
                <div class="lock"><mat-icon class="gold-color">lock</mat-icon></div>
                <div class="attachment"><mat-icon>attach_file</mat-icon></div>
            </div>
        </div>
        <div class="second-section"> Ali ahmad</div>
        <div class="third-section"> Cillum nonummy curabitur ridiculus dictum illo magnis labore parturient! Dignissim fusce fringilla eleifend </div>
    </div>
    <div class="list-data">
        <div class="first-section">
            <div class="date">4/5/2022 - 9:37 am</div>
            <div class="actions">
                <div class="attachment"><mat-icon>attach_file</mat-icon></div>
            </div>
        </div>
        <div class="second-section"> Ali ahmad</div>
        <div class="third-section"> Cillum nonummy curabitur ridiculus dictum illo magnis labore parturient! Dignissim fusce fringilla eleifend </div>
    </div>
    <div class="list-data">
        <div class="first-section">
            <div class="date">4/5/2022 - 9:37 am</div>
            <div class="actions">
                <div class="attachment"></div>
            </div>
        </div>
        <div class="second-section"> Ali ahmad</div>
        <div class="third-section"> Cillum nonummy curabitur ridiculus dictum illo magnis labore parturient! Dignissim fusce fringilla eleifend </div>
    </div>
    <div class="list-data">
        <div class="first-section">
            <div class="date">4/5/2022 - 9:37 am</div>
            <div class="actions">
                <div class="attachment"><mat-icon>attach_file</mat-icon></div>
            </div>
        </div>
        <div class="second-section"> Ali ahmad</div>
        <div class="third-section"> Cillum nonummy curabitur ridiculus dictum illo magnis labore parturient! Dignissim fusce fringilla eleifend </div>
    </div>
    <div class="list-data">
        <div class="first-section">
            <div class="date">4/5/2022 - 9:37 am</div>
            <div class="actions">
                <div class="lock"><mat-icon class="gold-color">lock</mat-icon></div>
                <div class="attachment"><mat-icon>attach_file</mat-icon></div>
               
            </div>
        </div>
        <div class="second-section"> Ali ahmad</div>
        <div class="third-section"> Cillum nonummy curabitur ridiculus dictum illo magnis labore parturient! Dignissim fusce fringilla eleifend </div>
    </div>
    <div class="list-data">
        <div class="first-section">
            <div class="date">4/5/2022 - 9:37 am</div>
            <div class="actions">
                <div class="attachment"><mat-icon>attach_file</mat-icon></div>
            </div>
        </div>
        <div class="second-section"> Ali ahmad</div>
        <div class="third-section"> Cillum nonummy curabitur ridiculus dictum illo magnis labore parturient! Dignissim fusce fringilla eleifend </div>
    </div>
   
    
</div>
