
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$correspondence-primary: mat-palette($mat-indigo);
$correspondence-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$correspondence-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$correspondence-theme: mat-light-theme((
  color: (
    primary: $correspondence-primary,
    accent: $correspondence-accent,
    warn: $correspondence-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($correspondence-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.gold-color{
  color: goldenrod;
}
.label{
  color: #000000;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  opacity: 0.87;
  padding-right: 2px;
}
.content{
  opacity: 0.87;
  opacity: 0.54;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
}
.mat-padding{
  padding: 16px;
}
.mat-subpadding{
  padding: 8px;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #D51C29;
}
