
<div class="correspondence-details">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Basic Information">
      <div class="basic-info-header">
        <div class="first-basic-info-header">
            <div class="date-time">4/5/2022 - 9:37 am</div>
            <div class="divider"></div>
            <div class="attachment">
                <div class="counter">3 Attachments</div>
            </div>
        </div>
        <div class="second-basic-info-header">
          <div><mat-icon class="gold-color">lock</mat-icon></div>
          <div class="text">Secret</div>
        </div>
      </div>
      <div class="main-divider"></div>
      <div class="basic-info-details">
        <div class="subject">
          <span class="label"> Topic:</span>
          <span class="content">pretium provident eu corporis. Omnis dolorum occaecat ultricies, massa aspernatur tempor ab praesent. </span>
        </div>
        <div class="mat-padding"></div>
        <div class="subject">
          <span class="label"> Subject:</span>
          <span class="content">Pellentesque occaecati dictum hymenaeos hendrerit vestibulum! Architecto sunt impedit fermentum, pretium provident eu corporis. Omnis dolorum occaecat ultricies, massa aspernatur tempor ab praesent. Eros, semper porro! Lobortis rem modi! Sapiente.</span>
        </div>
        <div class="mat-subpadding"></div>
        <div class="persons">
          <div class="persons-timeline">
            <div class="label">Incoming From:</div>
              <div class="content"> Ali Ahmad / HR Department / Ministry of Labor </div>
          </div>
          <div class="persons-timeline">
            <div class="label">Incoming To:</div>
              <div class="content"> Samer Youssef / Audit Department  </div>
          </div>
        </div>
        <div class="mat-subpadding"></div>
        <div>
          <div class="details">
            <div class="label">Status:</div>
            <div class="content">Under Review</div>
          </div>
          <div class="mat-subpadding"></div>
          <div class="details">
            <div class="label">Correspondences Type:</div>
            <div class="content">Announcement</div>
          </div>
          <div class="mat-subpadding"></div>
          <div class="details">
            <div class="label">Priority:</div>
            <div class="content">Important</div>
          </div>
          <div class="mat-subpadding"></div>
          <div class="details">
            <div class="label">Created By:</div>
            <div class="content">Sara ahmed / HR Department </div>
          </div>
          <div class="mat-subpadding"></div>
          <div class="details">
            <div class="label">Code:</div>
            <div class="content">INC2022/4/12 </div>
          </div>
          <div class="mat-subpadding"></div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Related Correspondences">
      <div>related correspondence</div>
    </mat-tab>
   
    <!-- <mat-tab label="Assignments">Content 3</mat-tab> -->
    <mat-tab label="Attachments">
      <div>attachments</div>
    </mat-tab>
    <mat-tab label="Notes">
     <div> Notes</div>
    </mat-tab>
    <mat-tab label="Action Log">
      Action Log
    </mat-tab>
  </mat-tab-group>
</div>